@model IEnumerable<CrudOperation_MVC.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info">
        <strong>Information:</strong> @TempData["InfoMessage"]
        <button type="button" class="close" data-dismiss="alert" area-label="close">
            <span>&times;</span>
        </button>
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create",null,new { @class="btn btn-primary"})  <!--this btn ia added for the button -->
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th> Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }, new { @class = "btn btn-primary" }) &nbsp;&nbsp;&nbsp; 
            @Html.ActionLink("Details", "Details", new { id = item.ProductID }, new { @class = "btn btn-success" }) &nbsp;&nbsp;&nbsp; 
            @Html.ActionLink("Delete", "Delete", new { id = item.ProductID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
